@model IEnumerable<Stickynotes.Models.Sticky>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div class="d-flex flex-wrap">

    <div class="card sticky" style="width:18rem">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="NoteTitle" class="control-label"></label>
                    <input type="text" name="NoteTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="NoteText" class="control-label"></label>
                    <input type="text" name="NoteText" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


        @foreach (var item in Model) 
        {
        <div class="card sticky" style="width: 18rem;">
            <div class="card-body stickynote">
                <h5 class="card-title">@item.Notetitle</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.NoteDate</h6>
                <p class="card-text">@item.Notetext</p>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
        }
    </div>
       